# MCP Server Configuration
# The transport for the MCP server - either sse, stdio, or streamable-http (defaults to streamable-http if left empty)
TRANSPORT=

# Host to bind to if using sse or http-streamable as the transport (comment out if using stdio)
HOST=

# Port to listen on if using sse or http-streamable as the transport (comment out if using stdio)
PORT=

# DocumentDB connection details
DOCUMENTDB_URI=
